html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
#sketch-wrapper {
  width: 100%;
  max-width: 879px;
  height: auto;
  aspect-ratio: 879 / 138;
  position: relative;
  overflow: hidden;
}
